<h1>Reactive Angular Form.</h1>

<form class="reactive-form" [formGroup]="reactive_form" (ngSubmit)="onSubmit()">
  <label for="name">Name</label> <br><br />
  <input type="text" class="input-form" formControlName="name" placeholder="Enter your name" /><br><br />
  <label for="email">Email</label><br><br />
  <input type="text" class="input-form" formControlName="email" placeholder="Enter your email" /><br><br />
  <div formGroupName="address">
    <label for="zipcode">Zipcode</label><br><br />
    <input type="text" class="input-form" formControlName="zipcode" (blur)="consultZipcode()" placeholder="Enter your zipcode" /><br><br />
    <label for="district">District</label><br><br />
    <input type="text" class="input-form" formControlName="district" placeholder="Enter your district" /><br><br />
    <label for="street">Street</label><br><br />
    <input type="text" class="input-form" formControlName="street" placeholder="Enter your street" /><br><br />
    <label for="number">Number</label><br><br />
    <input type="text" class="input-form" formControlName="number" placeholder="Enter your number" /><br><br />
    <label for="complement">Complement</label><br><br />
    <input type="text" class="input-form" formControlName="complement" placeholder="Enter your complement" /><br><br />
  </div>
  <button type="submit">Send</button>
</form>


<!--<router-outlet></router-outlet>-->